{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 well" style="text-align: center;">
        <h2>Find Candidates</h2>
        <br />
        <a href="{% url 'profile-register' profile_type='prospect' %}" class="btn btn-md btn-success">
            Start Your Search
        </a>
    </div>
    <div class="col-lg-6 well" style="text-align: center;">
        <h2>Advertise Your Skills</h2>
        <br />
        <a href="{% url 'profile-register' profile_type='candidate' %}" class="btn btn-md btn-success">
            Create Your Profile
        </a>
    </div>
</div>

{% endblock %}