{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="{% url 'profile-forgot-password' %}" method="post" role="form" style="display: block;">
                                {% csrf_token %}
                                <div class="alert alert-info">
                                    Please provide your email or cell phone number, and we'll send you a message
                                    to help you reset your password.
                                </div>
                                {% for error in form.errors.values %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    OR
                                </div>
                                <div class="form-group">
                                    <label>Cell Phone Number</label>
                                    {{ form.cell_phone_number }}
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-primary" value="Reset Your Password">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}