{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <div class="alert alert-success">
                A password reset link has been sent to you.
                <br />
                <br />
                Please follow the instructions in the email / text message you receive.
            </div>
        </div>
    </div>
</div>
{% endblock %}