{% extends "base.html" %}

{% block css %}
<style type="text/css">
    #profiles .profile-image img.thumbnail {
         max-width: 100%;
         max-height: 300px;
         margin: auto;
    }
</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="profiles">
        <a href="{% url 'profiles-search' %}" class="btn btn-warning">< Start a new search</a>
        <hr />
        {% if profiles %}
        {% for profile in profiles %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'view-profile' profile.id %}">{{ profile.first_name }}</a>
                in {{ profile.county }}, {{ profile.state }}
                <a href="{% url 'view-profile' profile.id %}"><span class="label label-success" style="float: right; font-size: 14px">Share ID: {{ profile.share_id }}</span></a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 col-md-4 profile-image">
                        {% for resource in profile.photos %}
                        <a href="{% url 'view-profile' profile.id %}">
                            <img src="{{ resource.file.url }}" class="thumbnail" />
                        </a>
                        {% endfor %}
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <p>
                            {{ profile.bio }}
                        </p>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            No profiles match your search criteria.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}