{% extends "base.html" %}
{% block css %}
<style type="text/css">
    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }
    #already_have_an_account {
        font-weight: bold;
    }
    #already_have_an_account a {
        color: #FFF;
        text-decoration: underline;
    }
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    {% if intention == 'register' %}
    $('#register-form-link').trigger('click');
    {% endif %}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" method="post" role="form">
                                {{ profile_signup_form.profile_type }}
                                <h2>
                                {% if profile_type == 'prospect' %}
                                Register To Search Profiles
                                {% else %}
                                Register To Create Your Profile
                                {% endif %}
                                </h2>
                                {{ form.errors }}
                                <br />
                                <div id="already_have_an_account" class="alert alert-info">
                                    Already have an account? <a href="{% url 'profile-signin' %}">Click here to sign in</a>.
                                </div>
                                {% csrf_token %}
                                {% for error in user_signup_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% for error in profile_signup_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}

                                {% for error in profile_signup_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    {{ user_signup_form.first_name.label }}
                                    {{ user_signup_form.first_name }}
                                    {{ user_signup_form.first_name.errors }}
                                </div>
                                <div class="form-group">
                                    {{ user_signup_form.last_name.label }}
                                    {{ user_signup_form.last_name }}
                                    {{ user_signup_form.last_name.errors }}
                                </div>
                                <div class="form-group">
                                    {{ profile_signup_form.cell_phone_number.label }}
                                    {{ profile_signup_form.cell_phone_number }}
                                    {{ profile_signup_form.cell_phone_number.errors }}
                                </div>
                                <div class="form-group">
                                    {{ user_signup_form.username.label }}
                                    {{ user_signup_form.username }}
                                    {{ user_signup_form.username.errors }}
                                </div>
                                <div class="form-group">
                                    {{ user_signup_form.email.label }}
                                    {{ user_signup_form.email }}
                                    {{ user_signup_form.email.errors }}
                                    {{ profile_signup_form.email.errors }}
                                </div>
                                <div class="form-group">
                                    {{ user_signup_form.password.label }}
                                    {{ user_signup_form.password }}
                                    {{ user_signup_form.password.errors }}
                                </div>
                                <div class="form-group">
                                    {{ user_signup_form.password_confirm.label }}
                                    {{ user_signup_form.password_confirm }}
                                    {{ user_signup_form.password_confirm.errors }}
                                </div>
                                <div class="form-group">
                                    {{ profile_signup_form.is_us_citizen }}
                                    {{ profile_signup_form.is_us_citizen.label }}
                                    {{ profile_signup_form.is_us_citizen.errors }}
                                </div>
                                <div class="form-group">
                                    {{ profile_signup_form.is_authorized_to_work_in_us }}
                                    {{ profile_signup_form.is_authorized_to_work_in_us.label }}
                                    {{ profile_signup_form.is_authorized_to_work_in_us.errors }}
                                </div>
                                <div class="form-group">
                                    {{ profile_signup_form.is_18_or_older }}
                                    {{ profile_signup_form.is_18_or_older.label }}
                                    {{ profile_signup_form.is_18_or_older.errors }}
                                </div>
                                <hr />
                                <div class="form-group">
                                    {{ profile_signup_form.accepts_terms_of_service }}
                                    Do you agree to our <a href="#">Terms of Service</a>?
                                    {{ profile_signup_form.accepts_terms_of_service.errors }}
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" tabindex="7" class="form-control btn btn-success" value="Register">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}