{% extends "base.html" %}

{% block css %}
<style type="text/css">
    .panel .panel-body .list-group-item {
        margin-bottom: 10px;
    }

    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }

    #skills div.input label {
        cursor: pointer;
        margin: 10px;
    }

    #skills div.input label input {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var professions = {{ professions_json|safe }},
        skills = {{ skills_json|safe }};

    $('[name="profession_id"]').change(function() {
        var profession_id = $(this).val(),
            skill_el = $(this).parents('form:first').find('#skills .input');

        skill_el.html('');

        var matching_skills = $.grep(skills, function(skill) {
            return skill.profession_id == profession_id;
        });

        if(!matching_skills.length) {
            skill_el.html('Please select a career and a profession.');
        }

        $.map(matching_skills, function(skill) {
            skill_el.append('<label><input type="checkbox" class="form-check" name="skills" value="' + skill.id + '" /> ' + skill.name +'</label>');
        });
    });

    $('[name="career_id"]').change(function() {
        var career_id = $(this).val(),
            profession_el = $(this).parents('form:first').find('select[name="profession_id"]');

        profession_el.prop('disabled', true);
        profession_el.html('<option value="">--- Select a Profession ---</option>');

        var matching_professions = $.grep(professions, function(profession) {
            return profession.career_id == career_id;
        });

        $.map(matching_professions, function(profession) {
            profession_el.append('<option value="' + profession.id + '">' + profession.name + '</option>');
            profession_el.prop('disabled', false);
        });

        profession_el.trigger('change').focus();
    }).trigger('change');
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Search Profiles</h3>
        <hr />
        <form class="form form-vertical" method="get" action="{% url 'profiles-list' %}">
            {% csrf_token %}

            {% for profession in selected_professions %}
            <input type="hidden" name="professions" value="{{ profession.id }}" />
            {% endfor %}
            {% for skill in selected_skills %}
            <input type="hidden" name="skills" value="{{ skill.id }}" />
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Career</label>
                        {{ form.career.errors }}
                        <select name="career_id" class="form-control">
                            <option value="">--- Select a Career ---</option>
                            {% for career in careers %}
                            <option value="{{ career.id }}">{{ career.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Profession</label>
                        {{ form.profession.errors }}
                        <select name="profession_id" class="form-control" disabled="disabled">
                        </select>
                    </div>
                </div>
            </div>

            <div id="skills" class="form-group">
                <label>Skills</label>
                {{ form.skills.errors }}
                <br />
                <div class="input">
                    Please select a career and a profession.
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label>{{ form.jobsite_postal_code.label }}</label>
                {{ form.jobsite_postal_code.errors }}
                {{ form.jobsite_postal_code }}
            </div>
            <div class="form-group">
                <br />
                <input type="submit" class="btn btn-info btn-xl" value="Search" />
            </div>
        </form>
    </div>
</div>
{% endblock %}