{% extends "base.html" %}
{% load profile_resources %}

{% block css %}
<style type="text/css">
    nav.profile-menu li.active a {
        background: #EEE;
        border-left: 3px solid #AAA;
    }

    #mobile_dropdown {
        height: 50px;
    }

    #mobile_dropdown .affix {
        z-index: 99;
        left: 10px;
        right: 10px;
    }

    .share-id.visible-sm-block {
        text-align: center;
    }

    .jump-target::before {
        content: "";
        display: block;
        height: 50px; /* fixed header height*/
        margin: -50px 0 0; /* negative fixed header height */
    }

    .section {
        display: none;
    }

    .carousel {
        border: 10px solid #EEE;
    }

    .carousel .carousel-inner img {
        display: none;
        margin: auto;
    }

    .carousel .carousel-control {
        background: none !important;
    }

    .carousel .carousel-control span {
        color: #66CCFF;
    }

    .carousel .carousel-control span:before {
        background-color: #CCC;
        border-radius: 55px;
        padding: 10px;
    }

    .career {
        border-left: 5px solid #DDD;
        padding-left: 10px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .career .profession {
        border-left: 2px solid #DDD;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .career .profession .skill .glyphicon.glyphicon-check {
        color: #2196f3;
        margin-right: 5px;
    }

    img.resource_photo {
        width: 100%;
    }
</style>
{% endblock %}

{% block javascript %}
<!-- References: https://github.com/fancyapps/fancyBox -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script type="text/javascript">
    var hide_sections = function() {
        $('a[name]').each(function() {
            $(this).next().hide();
        });

        $('video').each(function() {
            $(this).get(0).pause();
        });
    }

    $('[data-carousel-index]').click(function() {
        $($(this).data('target') + ' .carousel').carousel($(this).data('carousel-index'));
    });

    var show_section = function(section_hash) {
        var resource_type = section_hash.replace('#', '');

        hide_sections();

        var section = $('a[name="' + resource_type + '"]').next().show();

        // This logic ensures that all images are the same height
        // in order to prevent the left/right chevrons from moving
        // around in the gallery.
        if(resource_type_photo_has_text(resource_type)) {
            var min_height = Number.MAX_SAFE_INTEGER;
            $('.carousel img', section).each(function() {
                $(this).show();
                min_height = Math.min(min_height, $(this).get(0).height);
            });

            $('.carousel img', section).each(function() {
                var ratio = min_height / $(this).get(0).height;

                $(this).css({
                    height: min_height,
                    width: ratio * $(this).get(0).width
                });
            });
        } else {
            var max_allowable_width = $('.carousel-inner', section).width();
            var max_allowable_height = $(window).height() * 0.50;

            var max_height = 0;
            $('.carousel img', section).each(function() {
                var width = $(this).get(0).width;
                var height = $(this).get(0).height;

                if(height > max_allowable_height) {
                    var ratio = max_allowable_height / height;
                    height = max_allowable_height;
                    width = width * ratio;
                } else if(width > max_allowable_width) {
                    var ratio = max_allowable_width / width;
                    height = height * ratio;
                    width = max_allowable_width;
                }

                max_height = Math.max(max_height, height);

                $(this).css({
                    height: height,
                    width: width
                });
            });

            // Create margins to ensure the photos are centered.
            $('.carousel img', section).each(function() {
                var margin = (max_height - $(this).height()) / 2;

                $(this).css({
                    'margin-top': margin,
                    'margin-bottom': margin,
                });
            });
        }
    }

    hide_sections();

    show_section('personal_info');

    $('.profile-menu li a').click(function() {
        // Target all menus.
        $('.profile-menu li a[href="' + $(this).attr('href') + '"]')
            .parents('li').addClass('active')
            .siblings().removeClass('active');

        show_section($(this).attr('href'));
    });

    $('#mobile_dropdown .profile-menu li a').click(function() {
        setTimeout(function() {
            $(window).scrollTop($(window).scrollTop() - $('#mobile_dropdown').height());
        }, 0);
    })

    $('.fancybox').fancybox({
        openEffect: 'none',
        closeEffect: 'none'
    });

    if(window.location.hash) {
        $('.profile-menu li a[href="' + window.location.hash + '"]').click();
    }

    var resize_timeout = null;

    $(window).resize(function() {
        if(resize_timeout) {
            clearTimeout(resize_timeout);
        }

        resize_timeout = setTimeout(function() {
            $('.profile-menu li a[href="' + window.location.hash + '"]').click();
        }, 100);
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        {% if profile == authenticated_profile %}
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{% url 'manage-profile-personal-info' %}" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
                &nbsp;
                Edit your profile
            </a>
        </div>
        {% endif %}
        <div id="mobile_dropdown" class="visible-xs-block visible-sm-block">
            <div class="dropdown affix">
                <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show More <span class="caret"></span></button>
                <ul class="dropdown-menu profile-menu">
                    {% include "partials/view-profile/navigation-links.html" %}
                </ul>
            </div>
        </div>
        {% if profile.is_available_for_work %}
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"> </span>
            &nbsp;
            {{ profile.first_name }} is available for work!
        </div>
        {% endif %}
        <a name="personal_info"></a>
        <div class="row">
            <div class="col-md-4">
                <div class="carousel slide" data-interval="false" id="profile_photo_carousel">
                    <div class="carousel-inner">
                        {% for resource in profile_photos %}
                        <div class="{% if forloop.counter0 == 0 %}active{% endif %} item" data-slide-number="{{ forloop.counter0 }}">
                            <a class="fancybox" href="{{ resource.file.url }}">
                                <img src="{{ resource.file.url }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% if profile_photos|length > 1 %}
                    <a class="left carousel-control" href="#profile_photo_carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#profile_photo_carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="share-id visible-md-block visible-lg-block">
                    <span class="label label-success">
                        Share ID: {{ profile.share_id }}
                    </span>
                </h3>
                <h4 class="share-id visible-xs-block visible-sm-block">
                    <span class="label label-success">
                        Share ID: {{ profile.share_id }}
                    </span>
                </h4>
                <br />
                <p>
                    {{ profile.first_name }} resides in {{ profile.county }}, {{ profile.state }}
                </p>
                <p>
                    {{ profile.bio }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <nav class="profile-menu hidden-print hidden-sm hidden-xs affix" style="background-color: #FFFFFF; z-index: 99">
            <ul class="nav bs-docs-sidenav">
                {% include "partials/view-profile/navigation-links.html" %}
            </ul>
        </nav>
    </div>
</div>
<a name="skills" class="jump-target"></a>
<div class="section row">
    <div class="col-md-9">
        <hr />
        <h2>Skills</h2>

        {% for career, profession_tree in profile.get_career_tree.items %}
        <div class="career">
            <h4>Career: {{ career.name }}</h4>
            {% for profession, profile_skills in profession_tree.items %}
            <div class="profession">
                <h5>Profession: {{ profession.name }}</h5>
                {% for profile_skill in profile_skills %}
                <div class="skill">
                    <span class="glyphicon glyphicon-check"> </span>
                    {{ profile_skill.name_and_experience }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% video_resources "conversation_video" "Video Conversations" %}
{% photo_resources "certification_photo" "Licenses/Certifications" %}
{% photo_resources "education_photo" "Education" %}
{% photo_resources "tool_photo" "Tools" %}
{% photo_resources "resume_photo" "Resume" %}
{% photo_resources "skill_assessment_photo" "Skill Assessments" %}
{% photo_resources "career_photo" "Career Photos" %}
{% video_resources "work_video" "Project/Work Videos" %}
{% photo_resources "letter_of_recommendation_photo" "Letters Of Recommendation" %}
{% if testimonials %}
<a name="testimonials" class="jump-target"></a>
<div class="section row">
    <div class="col-md-9">
        <hr />
        <h2>Testimonials</h2>
        <div class="row">
            {% for testimonial in testimonials %}
            <div class="col-md-6">
                <blockquote>
                    <p>{{ testimonial.testimonial }}</p>
                    <footer>{{ testimonial.source }}</footer>
                </blockquote>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div style="height: 200px;"></div>
{% endblock %}