#nav_contact {
    clear: both;
    color: #b2dbfb;
    padding: 10px 0px;
}

#nav_contact a {
    color: #FFF;
}

input.loading {    
    background-color: #ffffff;
    background-image: url("/static/img/loading.gif");
    background-position: right center;
    background-repeat: no-repeat;
}

.btn.view-profile {
    background-color: #f7b125;
}

.form-group label {
	font-weight: bold;
}

.popover {
    max-width: 500px; /* Max Width of the popover (depending on the container!) */
}