/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
    body {
        padding-top: 150px;
    }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}