{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{{ site.title }}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static "css/jumbotron.css" %}" rel="stylesheet">
        <link href="{% static "css/common.css" %}" rel="stylesheet">

        <!-- <link href="//bootswatch.com/3/paper/bootstrap.min.css" rel="stylesheet"> -->
        <link href="//bootswatch.com/3/yeti/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block css %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">{{ site.title }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{% url 'profiles-search' %}">Search Profiles</a></li>
                        <li><a href="{% url 'manage-profile-personal-info' %}">Manage Profile</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="navbar-form navbar-right">
                        <a href="{% url 'profile-signout' %}" class="btn btn-default">Sign out</a>
                    </div>
                    {% else %}
                    <div class="navbar-form navbar-right">
                        <a href="{% url 'profile-signin' %}" class="btn btn-primary view-profile">Sign in</a>
                    </div>
                    {% endif %}
                </div><!--/.navbar-collapse -->
                <div id="nav_contact">
                    Contact us anytime at <a href="tel:{{ site.contact_phone_number }}">{{ site.contact_phone_number }}</a> or <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>.
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
                <!--
                <div class="col-md-2 well" style="text-align: center;">
                    YOUR AD HERE
                </div>
                -->
            </div>

            <hr>

            <footer>
                <div id="google_translate_element" class="pull-right"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                <p>
                    &copy; {% now "Y" %} {{ site.title }} -
                    Phone: <a href="tel:{{ site.contact_phone_number }}">{{ site.contact_phone_number }}</a> -
                    Email: <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
                </p>
            </footer>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript">
            $("[data-toggle=popover]").popover({
                trigger: 'hover'
            });

            $('a[href="#profile-manager-back"]').click(function() {
                $(this).parents('form').prepend('<input type="hidden" name="go_back" value="true" />').submit();

                return false;
            });

            var resource_type_photo_has_text = function(resource_type) {
                if(resource_type == 'certification_photo') {
                    return true;
                }

                if(resource_type == 'education_photo') {
                    return true;
                }

                if(resource_type == 'letter_of_recommendation_photo') {
                    return true;
                }

                if(resource_type == 'resume_photo') {
                    return true;
                }

                if(resource_type == 'skill_assessment_photo') {
                    return true;
                }

                return false;
            }
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>