{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 well" style="text-align: center;">
        <h2>Your H/R online resources</h2>
        <br />
        <a href="{% url 'profile-register' profile_type='prospect' %}" class="btn btn-md btn-success">
            Start Your Candidate Search
        </a>
    </div>
    <div class="col-lg-6 well" style="text-align: center;">
        <h2>Job seekers</h2>
        <br />
        <a href="{% url 'profile-register' profile_type='candidate' %}" class="btn btn-md btn-success">
            Create Your Skill Profile
        </a>
    </div>
</div>

{% endblock %}