{% load profile_resources %}
<li class="active">
    <a href="#personal_info" role="button">About {{ profile.first_name }}</a>
</li>
<li>
    <a href="#skills" role="button">Skills</a>
</li>
{% resource_link "conversation_video" "Video Conversations" %}
{% resource_link "certification_photo" "Licenses/Certifications" %}
{% resource_link "education_photo" "Education" %}
{% resource_link "tool_photo" "Tools" %}
{% resource_link "resume_photo" "Resume" %}
{% resource_link "skill_assessment_photo" "Skill Assessments" %}
{% resource_link "career_photo" "Career Photos" %}
{% resource_link "work_video" "Project/Work Videos" %}
{% resource_link "letter_of_recommendation_photo" "Letters Of Recommendation" %}
