{% if resources %}
<div id="modal_{{ resource_type }}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="carousel slide" data-interval="false" id="{{ resource_type }}_carousel">
                <div class="carousel-inner">
                    {% for resource in resources %}
                    <div class="{% if forloop.counter0 == 0 %}active{% endif %} item" data-slide-number="{{ forloop.counter0 }}">
                            <img src="{{ resource.file.url }}" style="display: block;" />
                    </div>
                    {% endfor %}
                </div>
                {% if resources|length > 1 %}
                <a class="left carousel-control" href="#{{ resource_type }}_carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#{{ resource_type }}_carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<a name="{{ resource_type }}" class="jump-target"></a>
<div class="section row">
    <div class="col-md-9">
        <hr />
        <h2>{{ resource_type_display }}</h2>
        <div class="row">
            {% for resource in resources %}
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#modal_{{ resource_type }}" data-carousel-index="{{ forloop.counter0 }}">
                    <img src="{{ resource.file.url }}" class="thumbnail resource_photo" />
                </a>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}