{% if resources %}
<a name="{{ resource_type }}" class="jump-target"></a>
<div class="section row">
    <div class="col-md-9">
        <hr />
        <h2>{{ resource_type_display }}</h2>
        <div class="row">
            {% for resource in resources %}
	        <div class="col-md-4">
	            <video controls="controls" width="100%" name="{{ resource_type_display }}" src="{{ resource.file.url }}"></video>
	        </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
	        {% endfor %}
        </div>
    </div>
</div>
{% endif %}