{% extends "base.html" %}
{% load profile_resources %}

{% block css %}
<style type="text/css">
    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }
    .form-group .required {
        color: #F00;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    $('#update_profile').areYouSure({
        message: 'Are you sure you want to leave this page?'
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>About Me</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<div class="row">
    <div class="col-md-12">
        <form id="update_profile" method="post" class="form-vertical" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="{{ profile_about_me_form.bio.auto_id }}">
                        {{ profile_about_me_form.bio.label }} (<a href="javascript:void()" data-toggle="popover" title="Writing Tips" data-content="When clients are searching through profiles, the &quot;About Me&quot; section is their very first impression of you. Here are some tips to consider:<br /><br /><ul><li>How did you get into your profession?</li><li>What makes you passionate about your work?</li><li>What separates you from others in your profession?</li></ul>" data-container="body" data-placement="bottom" data-html="true">What should I put here?</a>)
                        {% if profile_about_me_form.bio.field.required %}
                        <span class="required">*</span>
                        {% endif %}
                    </label>
                    {{ profile_about_me_form.bio }}
                    {{ profile_about_me_form.bio.errors }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <a href="#profile-manager-back" class="btn btn-default">< Back</a>
                    <button type="submit" class="btn btn-primary">Next ></button>
                    <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
                    <div class="required" style="margin-top: 10px">* Required field</div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}