{% extends "base.html" %}
{% load profile_resources %}

{% block css %}
<style type="text/css">
    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }
    .form-group .required {
        color: #F00;
    }
    span.years_of_experience {
        display: none;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    var professions = {{ professions_json|safe }},
        skills = {{ skills_json|safe }},
        skill_template = $('#skill_template');

    $('[name="profession_id"]').change(function() {
        var profession_id = $(this).val(),
            skill_el = $(this).parents('.row:first').find('select[name="skill_id"]');

        skill_el.prop('disabled', true);
        skill_el.html('<option value="">--- Select a Skill ---</option>');

        var matching_skills = $.grep(skills, function(skill) {
            return skill.profession_id == profession_id;
        });

        skill_template.siblings().remove();

        $('#no_matching_skills').toggle(matching_skills.length <= 0);

        $.map(matching_skills, function(skill) {
            var clone = skill_template.clone().insertBefore(skill_template);

            $('.skill_name', clone).text(skill.name);
            $('[name="skill_id"]', clone).attr('name', 'skill_id.' + skill.id).val(skill.id);
            $('[name="years_of_experience"]', clone).attr('name', 'years_of_experience.' + skill.id);

            clone.show();
        });
    });

    $('[name="career_id"]').change(function() {
        var career_id = $(this).val(),
            profession_el = $(this).parents('.row:first').find('select[name="profession_id"]');

        profession_el.prop('disabled', true);
        profession_el.html('<option value="">--- Select a Profession ---</option>');

        var matching_professions = $.grep(professions, function(profession) {
            return profession.career_id == career_id;
        });

        $.map(matching_professions, function(profession) {
            profession_el.append('<option value="' + profession.id + '">' + profession.name + '</option>');
            profession_el.prop('disabled', false);
        });

        profession_el.trigger('change').focus();
    }).trigger('change');

    $('#add_skill').areYouSure({
        message: 'Are you sure you want to leave this page?'
    }).submit(function() {
        if($('[name="career_id"]', this).val()) {
            if(!$('[name="profession_id"]', this).val()) {
                alert('Please select a Profession.');
                return false;
            }

            if(!$('[name="skill_id"]', this).val()) {
                alert('Please select a Skill.');
                return false;
            }

            var missing_years_of_experience = false;
            var missing_years_of_experience_for_skill = '';

            $('#add_skill .skill').each(function() {
                if($('[name^="skill_id"]', this).prop('checked') && !$('[name^="years_of_experience"]', this).val()) {
                    missing_years_of_experience = true;
                    missing_years_of_experience_for_skill = $('.skill_name', this).text();
                    return false;
                }
            });

            if(missing_years_of_experience) {
                $('#select_years_of_experience .modal-body').text('Please select years of experience for "' + missing_years_of_experience_for_skill + '"');
                $('#select_years_of_experience').modal('show');
                return false;
            }

            if(!$('[name="additional_skills"]', this).size()) {
                $('#additional_skills_prompt').modal('show');
                return false;
            }
        }
    });

    $('#additional_skills_prompt').modal({
        show: false,
    });

    $('#select_years_of_experience').modal({
        show: false,
    });

    $('[data-additional-skills]').click(function() {
        $('#add_skill').prepend('<input type="hidden" name="additional_skills" value="' + $(this).data('additional-skills') + '" />');
        $('#add_skill').submit();
    });

    // The skill_id inputs get the ID suffixed to their field name. skill_id -> skill_id.5
    $(document).on('change', '[name^="skill_id"]', function() {
        $(this).siblings('.years_of_experience').toggle($(this).prop('checked'));
    });
</script>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="additional_skills_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Before We Proceed</h4>
      </div>
      <div class="modal-body">
        Would you like to add any skills from any other professions?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-additional-skills="no">No</button>
        <button type="button" class="btn btn-primary" data-additional-skills="yes">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="select_years_of_experience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Oops!</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <h2>Add Skills</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}

<form id="add_skill" method="post" class="form-vertical" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="col-md-6">
            <div class="form-group">
                <h4>
                    Career
                    <a href="javascript:void()" data-toggle="popover" data-content="Select a career that you have experience in from the dropdown menu below." data-container="body" data-placement="bottom" data-html="true">(?)</a>
                </h4>
                <select name="career_id" class="form-control">
                    <option value="">--- Select a Career ---</option>
                    {% for career in careers %}
                    <option value="{{ career.id }}">{{ career.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h4>
                    Profession
                    <a href="javascript:void()" data-toggle="popover" data-content="Select a profession that you have experience in from the dropdown menu below." data-container="body" data-placement="bottom" data-html="true">(?)</a>
                </h4>
                <select name="profession_id" class="form-control">
                    <option value="">--- Select a Profession ---</option>
                    {% for profession in professions %}
                    <option value="{{ profession.id }}" career_id="{{ profession.career_id }}">{{ profession.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div id="skills_and_experience" class="form-group">
        <h4>
            Skills &amp; Experience
            <a href="javascript:void()" data-toggle="popover" data-content="Please select all skills and years of experience you have with that skill." data-container="body" data-placement="bottom" data-html="true">(?)</a>
        </h4>
        <div class="row" id="no_matching_skills">
            <div class="col-md-12">
                <div class="alert alert-info">Please select a career and a profession to see a list of skills.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li id="skill_template" class="skill list-group-item" style="display: none">
                        <label>
                            <input type="checkbox" name="skill_id" class="form-checkbox" />
                            <span class="skill_name"></span> 
                            <span class="years_of_experience">
                                with
                                <select name="years_of_experience">
                                    <option value="">--- select your years of experience ---</option>
                                    {% for years_of_experience, verbose in years_of_experience_choices %}
                                    <option value="{{ years_of_experience }}">
                                        {{ verbose }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <a href="#profile-manager-back" class="btn btn-default">< Back</a>
            <button type="submit" class="btn btn-primary">Next ></button>
            <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
        </div>
    </div>
</form>
{% endblock %}