{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Well Done!</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<div class="row">
    <div class="col-md-12">
        Your profile has been created. We will review your account soon and contact you once we have published your profile.
        <br />
        <br />
        <a href="{% url 'view-profile' profile.id %}" class="btn btn-warning">See What Your Profile Looks Like!</a>
    </div>
</div>
{% endblock %}