{% extends "base.html" %}

{% load static %}

{% block javascript %}
<script type="text/javascript" src="{% static "cropperjs/node_modules/cropperjs/dist/cropper.js" %}"></script>
<script type="text/javascript">
    var image = $('#resource_edit')[0];

    image.addEventListener('ready', function () {
        this.cropper.setCropBoxData({
            left: 0,
            top: 0,
            width: 600,
            height: 400
        });
    });

    var opts = {
        checkImageOrigin: false,
        viewMode: 2,
        dragMode: 'move',
        center: true,
        highlight: true,
        guides: false,
        background: true,
        movable: true,
        rotatable: true,
        scalable: true,
        cropBoxResizable: false,
        preview: '#editor_window #preview_holder > div',
        crop: function(event) {
            for(var field in event.detail) {
                $('#edit_resource input[name="cropper_' + field + '"]').val(event.detail[field]);
            }
        }
    };

    if(resource_type_photo_has_text('{{ resource.resource_type }}')) {
        opts.autoCrop = false;
        $('[data-zoom]').hide();

        $('input[name="cropper_x"]').remove();
        $('input[name="cropper_y"]').remove();
        $('input[name="cropper_width"]').remove();
        $('input[name="cropper_height"]').remove();
    }

    var cropper = new Cropper(image, opts);

    var MIN_BRIGHTNESS = 0.3;
    var MAX_BRIGHTNESS = 1.8;

    $('[data-rotate]').click(function() {
        cropper.rotate(parseInt($(this).data('rotate')));

        return false;
    });

    $('[data-zoom]').click(function() {
        cropper.zoom(parseFloat($(this).data('zoom')));

        return false;
    });

    $('[data-adjust-brightness]').click(function() {
        var adjustment = parseFloat($(this).data('adjust-brightness'));

        $('.cropper-view-box img').each(function() {
            var brightness = parseFloat($(this).data('brightness') || 1);

            brightness += adjustment;

            brightness = Math.max(brightness, MIN_BRIGHTNESS);
            brightness = Math.min(brightness, MAX_BRIGHTNESS);

            $('#edit_resource [name="enhancer_brightness"]').val(brightness);
            $(this).data('brightness', brightness);
            $(this).css('filter', 'brightness(' + brightness + ')');
        });

        return false;
    });

    $('#restore_resource').submit(function() {
        if(!confirm('Are you sure you would like to restore back to the original file you uploaded?')) {
            return false;
        }
    })
</script>
{% endblock %}

{% block css %}
<link href="{% static "cropperjs/node_modules/cropperjs/dist/cropper.css" %}" rel="stylesheet" />
<style type="text/css">
    #editor_window .glyphicon.rotate-left {
    }

    #editor_window .glyphicon.rotate-left {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    #editor_window .btn {
        margin-bottom: 5px;
    }

    #editor_window .btn .glyphicon {
        margin-right: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Edit Your {{ resource.get_resource_type_display }}</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<form id="edit_resource" class="form" method="post">
    {% csrf_token %}
    <input type="hidden" name="cropper_x" />
    <input type="hidden" name="cropper_y" />
    <input type="hidden" name="cropper_width" />
    <input type="hidden" name="cropper_height" />
    <input type="hidden" name="cropper_rotate" />
    <input type="hidden" name="enhancer_brightness" value="1.0" />
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}" />
</form>
<form id="restore_resource" class="form" method="post">
    {% csrf_token %}
    <input type="hidden" name="restore_original_file" value="true" />
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}" />
</form>
<div class="row" id="editor_window">
    <div class="col-md-12">
        <img id="resource_edit" src="{{ resource.file.url }}" style="max-height: 400px" />
        <div style="margin-top: 10px; text-align: center">
            <a href="#" data-rotate="-90" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-repeat rotate-left"></span>
                Rotate
            </a>
            <a href="#" data-rotate="90" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-repeat"></span>
                Rotate
            </a>
            <a href="#" data-zoom="-0.1" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-zoom-out"></span>
                Zoom
            </a>
            <a href="#" data-zoom="0.1" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-zoom-in"></span>
                Zoom
            </a>
            <a href="#" data-adjust-brightness="-0.1" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-minus-sign"></span>
                Brightness
            </a>
            <a href="#" data-adjust-brightness="0.1" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Brightness
            </a>
        </div>
        <div style="margin-top: 10px; text-align: center">
            <a href="{{ redirect_url }}" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Cancel
            </a>
            <a href="javascript:$('#restore_resource').submit();" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-repeat"></span>
                Restore Original
            </a>
            <a href="javascript:$('#edit_resource').submit();" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save
            </a>
        </div>
    </div>
</div>
{% endblock %}