{% extends "base.html" %}

{% block css %}
<style type="text/css">
    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }
    .form-group .required {
        color: #F00;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/postal-code-lookup.js"></script>
<script type="text/javascript" src="/static/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    $('#update_profile').areYouSure({
        message: 'Are you sure you want to leave this page?'
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Personal Info</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<form id="update_profile" method="post" class="form-vertical">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ personal_info_form.first_name.auto_id }}" class="control-label">
                    {{ personal_info_form.first_name.label }}
                    {% if personal_info_form.first_name.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.first_name }}
                {{ personal_info_form.first_name.errors }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ personal_info_form.last_name.auto_id }}" class="control-label">
                    {{ personal_info_form.last_name.label }}
                    {% if personal_info_form.last_name.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.last_name }}
                {{ personal_info_form.last_name.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.email.auto_id }}" class="control-label">
                    {{ personal_info_form.email.label }}
                    {% if personal_info_form.email.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.email }}
                {{ personal_info_form.email.errors }}

                {% if not profile.email_verified %}
                <div class="alert alert-danger" style="margin-top: 10px">
                    Your email is pending verification, please click the link in the email we've sent you.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.cell_phone_number.auto_id }}" class="control-label">
                    {{ personal_info_form.cell_phone_number.label }}
                    {% if personal_info_form.cell_phone_number.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.cell_phone_number }}
                {{ personal_info_form.cell_phone_number.errors }}

                {% if not profile.cell_phone_number_verified %}
                <div class="alert alert-danger" style="margin-top: 10px">
                    Your cell phone number is pending verification, please respond to the text we've sent you.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.secondary_phone_number.auto_id }}" class="control-label">
                    {{ personal_info_form.secondary_phone_number.label }}
                    {% if personal_info_form.secondary_phone_number.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.secondary_phone_number }}
                {{ personal_info_form.secondary_phone_number.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.postal_code.auto_id }}" class="control-label">
                    {{ personal_info_form.postal_code.label }}
                    {% if personal_info_form.postal_code.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.postal_code }}
                {{ personal_info_form.postal_code.errors }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.county.auto_id }}" class="control-label">
                    {{ personal_info_form.county.label }}
                    {% if personal_info_form.county.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.county }}
                {{ personal_info_form.county.errors }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ personal_info_form.state.auto_id }}" class="control-label">
                    {{ personal_info_form.state.label }}
                    {% if personal_info_form.state.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
                {{ personal_info_form.state }}
                {{ personal_info_form.state.errors }}
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Next ></button>
            <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
            <div class="required" style="margin-top: 10px">* Required field</div>
        </div>
    </div>
</form>
{% endblock %}