{% extends "base.html" %}
{% load profile_resources %}

{% block css %}
<style type="text/css">
    #help_tip, .help_text {
        display: none;
    }

    #files_exist {
        display: none;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    $('#update_profile').areYouSure({
        message: 'Are you sure you want to leave this page?'
    });

    $('.delete-resource').click(function() {
        if(!confirm('Are you sure you would like to delete this?')) {
            return false;
        }

        var resource_id = $(this).data('resource-id');

        window.location.assign('/profiles/manage/remove-resource/' + resource_id);

        return false;
    });

    var help_text_el = $('.help_text[data-resource-type="{{ resource_type }}"]');

    if(help_text_el.size()) {
        $("#help_tip").show().popover({
            trigger: 'hover',
            content: help_text_el.html()
        });
    }

    $('#resource_uploader').change(function() {
        $('#files_exist').toggle($(this).get(0).files.length ? true : false);
    });

    $('a[href="#cancel-upload"]').click(function() {
        $('#resource_uploader').val('').change();

        return false;
    });
</script>
{% endblock %}

{% block content %}
<div class="help_text" data-resource-type="profile_photo">
    In this section, you will want to upload a professional photo of yourself. This photo will be the first photo for everyone to see.
</div>
<div class="help_text" data-resource-type="conversation_video">
    In this section, you can upload and showcase a professional video of yourself.
    <br />
    <br />
    Things to consider:
    <br />
    <br />
    <ul>
        <li>How you entered into your profession</li>
        <li>What you like about the profession you're in</li>
        <li>Where you see yourself in the next 2 - 4 years in your profession</li>
        <li>What makes you an asset to a company/organization</li>
    </ul>
</div>
<div class="help_text" data-resource-type="work_video">
    In this section, you can upload and showcase videos of work you have completed.
    <br />
    <br />
    <ul>
        <li>Projects that you are proud of</li>
        <li>Videos of yourself working on the job</li>
    </ul>
</div>
<div class="help_text" data-resource-type="tool_photo">
    In this section, if your profession requires you to work with tools, you will want to upload and showcase all the tools you have pertaining to your profession.
</div>
<div class="help_text" data-resource-type="certification_photo">
    In this section, you can upload any and all licenses and/or certifications that you have gained over the years that demonstrates that you are vested in your profession.
</div>
<div class="help_text" data-resource-type="education_photo">
    On this page you can upload any degrees or high school diploma you have obtained.
</div>
<div class="help_text" data-resource-type="resume_photo">
    In this section, you can upload your resume. Please ensure your resume showcases any experience pertaining to your profession as well as the information you have added to your Career Profile.
</div>
<div class="help_text" data-resource-type="career_photo">
    On this page you can upload work related photos that portray your experience in the work place.
    <br />
    <br />
    <ul>
        <li>Work you’ve completed</li>
        <li>Images of you on the job</li>
    </ul>
</div>
<div class="help_text" data-resource-type="skill_assessment_photo">
    For more information about this section please Contact our corporate office at 888-902-5260, or 410-526-3520. Our corporate office is open 8am until 4:30 pm Monday through Friday EST time zone.
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>
            {{ resource_type_display }}
            <a id="help_tip" href="javascript:void()" data-container="body" data-placement="bottom" data-html="true">(?)</a>
        </h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<form id="update_profile" method="post" class="form-vertical" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                {% if resources %}
                {% if "photo" in resource_type %}
                <div class="row">
                    {% for resource in resources %}
                    <div class="col-md-4" style="text-align: center; margin-bottom: 20px">
                        <div class="thumbnail">
                            <img src="{{ resource.file.url }}" />
                            <div class="caption">
                                <a href="#" data-resource-id="{{ resource.id }}" class="delete-resource btn btn-sm btn-danger">
                                    Delete This Photo
                                </a>
                                <a href="{% url 'manage-profile-edit-resource' resource.id %}" class="edit-resource btn btn-sm btn-success">
                                    Edit This Photo
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    {% for resource in resources %}
                    <div class="col-md-4" style="text-align: center; margin-bottom: 20px">
                        <video controls="controls" width="100%" name="{{ resource_type_display }}" src="{{ resource.file.url }}"></video>
                        <div style="text-align: center">
                            <a href="#" data-resource-id="{{ resource.id }}" class="delete-resource btn btn-sm btn-danger">
                                ^ Delete This Video ^
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                {% else %}
                <div class="alert alert-warning">
                    You have not uploaded any {{ resource_type_display }} yet.
                </div>
                {% endif %} 
                {% if resource_type == 'profile_photo' and resources|length >= 1 %}
                <div class="alert alert-info">
                    <b>You've Reached Your Photo Limit</b>
                    <br />
                    You're only allowed to upload a single profile photo.
                </div>
                {% else %}
                <b>Upload More {{ resource_type_display }}</b>
                <input type="file" name="{{ resource_type }}" id="resource_uploader" multiple />
                <div id="files_exist">
                    <a href="#cancel-upload" class="btn btn-default btn-sm">Cancel</a>
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-sm-12">
            {% get_previous_manager_page as previous_manager_page %}
            <a href="{% url previous_manager_page %}" class="btn btn-default">< Back</a>
            {% get_next_manager_page as next_manager_page %}
            <a href="{% url next_manager_page %}" class="btn btn-primary">Next ></a>
            <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
        </div>
    </div>
</form>
{% endblock %}