{% extends "base.html" %}
{% load profile_resources %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>
            Your Skills
            <a href="javascript:void()" data-toggle="popover" data-container="body" data-placement="bottom" data-html="true" data-content="Please review all of the information listed below. If all of the information is correct, please proceed to the next page.">(?)</a>
        </h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Career</th>
                    <th>Profession</th>
                    <th>Skill</th>
                    <th>Years of Experience</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for profile_skill in profile_skills %}
                <tr>
                    <td>{{ profile_skill.skill.career.name }}</td>
                    <td>{{ profile_skill.skill.profession.name }}</td>
                    <td>{{ profile_skill.skill.name }}</td>
                    <td>{{ profile_skill.get_years_of_experience_display }}</td>
                    <td><a href="{% url 'manage-profile-remove-skill' profile_skill.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Remove this skill</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">You don't have any skills associated to your profile, please add one above!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        {% get_previous_manager_page as previous_manager_page %}
        <a href="{% url previous_manager_page %}" class="btn btn-default">< Back</a>
        {% get_next_manager_page as next_manager_page %}
        <a href="{% url next_manager_page %}" class="btn btn-primary">Next ></a>
        <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
    </div>
</div>
{% endblock %}