{% extends "base.html" %}

{% block css %}
<style type="text/css">
    .errorlist {
        margin: 10px 0px 0px;
        padding: 0px;
    }
    .errorlist li {
        background-color: #e51c23;
        border: none;
        color: #FFF;
        list-style-type: none;
        padding: 15px;
    }
    .form-group .required {
        color: #F00;
    }
    ul.radio-inline li {
        display: inline-block;
        margin-right: 30px;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    $('#update_profile').areYouSure({
        message: 'Are you sure you want to leave this page?'
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Work Status</h2>
        <hr />
    </div>
</div>
{% include "partials/manage/top-bar.html" %}
<form id="update_profile" method="post" class="form-vertical">
    {% csrf_token %}
    <div class="row">
        <div class="form-group">
            <div class="col-lg-10">
                <label for="{{ work_status_form.distance_willing_to_travel.auto_id }}" class="control-label">
                    {{ work_status_form.distance_willing_to_travel.label }}
                    {% if work_status_form.distance_willing_to_travel.field.required %}
                    <span class="required">*</span>
                    {% endif %}
                </label>
            </div>
            <div class="col-lg-2">
                {{ work_status_form.distance_willing_to_travel }}
                {{ work_status_form.distance_willing_to_travel.errors }}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-lg-10">
                <label>
                    Would you like your profile to be active for prospects to view?
                    <span class="required">*</span>
                </label>
            </div>
            <div class="col-lg-2">
                {{ work_status_form.is_active }}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-lg-10">
                <label>
                    Are you currently available for work?
                    <span class="required">*</span>
                </label>
            </div>
            <div class="col-lg-2">
                {{ work_status_form.is_available_for_work }}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-lg-10">
                <label>
                    Are you willing to relocate for work?
                    <span class="required">*</span>
                </label>
            </div>
            <div class="col-lg-2">
                {{ work_status_form.is_willing_to_relocate_for_work }}
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-sm-12">
            <a href="#profile-manager-back" class="btn btn-default">< Back</a>
            <button type="submit" class="btn btn-primary">Next ></button>
            <a href="{% url 'view-profile' profile.id %}" target="_blank" class="btn btn-warning pull-right">View Profile</a>
            <div class="required" style="margin-top: 10px">* Required field</div>
        </div>
    </div>
</form>
{% endblock %}