{% if not profile.is_active %}
<div class="alert alert-danger">
    Your profile is not active. Your profile will not appear in any search listings.
</div>
{% endif %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}

{% if profile.finished_profile_setup %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="dropdown ">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage a Different Page <span class="caret"></span></button>
            <ul class="dropdown-menu profile-menu">
                <li>
                    <a href="{% url 'manage-profile-personal-info' %}" role="button">Personal Info</a>
                    <a href="{% url 'manage-profile-about-me' %}" role="button">About Me</a>
                    <a href="{% url 'manage-profile-add-skills' %}" role="button">Add Skills</a>
                    <a href="{% url 'manage-profile-skills' %}" role="button">Your Skills</a>
                    <a href="{% url 'manage-profile-work-status' %}" role="button">Work Status</a>
                    <a href="{% url 'manage-profile-profile-photos' %}" role="button">Profile Photos</a>
                    <a href="{% url 'manage-profile-conversation-videos' %}" role="button">Video Conversations</a>
                    <a href="{% url 'manage-profile-certifications' %}" role="button">Licenses/Certifications</a>
                    <a href="{% url 'manage-profile-education' %}" role="button">Education</a>
                    <a href="{% url 'manage-profile-tool-photos' %}" role="button">Tool Photos</a>
                    <a href="{% url 'manage-profile-resume' %}" role="button">Resume</a>
                    <a href="{% url 'manage-profile-career-photos' %}" role="button">Career Photos</a>
                    <a href="{% url 'manage-profile-work-videos' %}" role="button">Project/Work Videos</a>
                    <a href="{% url 'manage-profile-skill-assessments' %}" role="button">Skill Assessments</a>
                    <a href="{% url 'manage-profile-letters-of-recommendation' %}" role="button">Letters Of Recommendation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}